version: "3.9"

services:
  db:
    image: postgres:17
    env_file:
      - .env
    environment:
      DATABASE_URL: ${DATABASE_URL}
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  app:
    build: 
      context: .
      dockerfile: ./apps/backend/Dockerfile
    container_name: offkai-app
    environment:
      DATABASE_URL: postgres://postgres:postgres@db:5432/offkai
    ports:
      - "3000:3000"
      - "5173:5173"
    volumes:
      - .:/workspace
      - /workspace/apps/backend/node_modules
      - /workspace/apps/frontend/node_modules
    depends_on:
      - db

volumes:
  db_data: