@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Zen Maru Gothic", sans-serif, system-ui;
  font-weight: 400;
  font-style: normal;
}